/*                               node2                                */
/*-------------------------------------------------------------------*/
.node2 {		/* full node2 */
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background: #d0deee;
	}
.sticky {
	background: #eff4f9;
}
.teaser {
	background: #d0deee;
}
.node2 .content, .comment .content {
	clear: both;
	margin: 10px 5px 5px 5px;
}
.node2 .taxonomy {
	font-size: 0.8em;
	padding-left: 1.5em;
}
.node2 .taxonomy li {
	padding: 1px 5px;
}
.node2 .picture {
	border: 1px solid #d6edd6;
	float: right;
	margin: 0.5em;
}
.node2 table.node2title {
	margin-bottom: 0px;
}
.node2 .submitted {
	color: #777777;
}
.node2 div.links {

	border-top: 1px solid #9dbedd;

}
.node2 h2.title {
	font-size: 18px;
}
.node2 h2.title a:hover {
	text-decoration: none;
	color: #6d6a86;
}
.node2 h2.title {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}


.node2 h2.title a {}
	



.pagetitle {
	padding: 0px;
	margin: 2px 0px 10px 0px;
}
.pagetitle h1 {
	margin: 0px;
	font-size: 18px;
	color: #ffffff;
}
.pagetitle-l {
	width: 30px;
	height: 34px;
	background: url("images/bg-title-l.png") no-repeat top right;
}
.pagetitle-c {
	height: 34px;
	background: url("images/bg-title-c.png") repeat-x top left;
}
.pagetitle-r {
	width: 30px;
	height: 34px;
	background: url("images/bg-title-r.png") no-repeat top left;
}

/* table for each node2 (for rounded corners without using javascript) */

.node2-tl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 6px;
	border-width: 0px;
	line-height: 1;
	background: url("images/bg-divider-l.png") no-repeat bottom right;
}
.node2-tc {
	padding: 0px;
	margin: 0px;
	height: 6px;
	border-width: 0px;
	background: url("images/bg-divider-c.png") repeat-x bottom left;
	line-height: 1;
}
.node2-tr {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 6px;
	border-width: 0px;
	line-height: 1;
	background: url("images/bg-divider-r.png") no-repeat bottom left;
}
.node2-bl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node2-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node2-br {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node2-ml {
	padding: 0px;
	margin: 0px;
	width: 14px;
	border-width: 0px;
	line-height: 1;
	background:#fff;
	border-left: 1px solid #9dbedd;
	border-bottom: 1px solid #9dbedd;
	border-top: 1px solid #9dbedd;
}
.node2-mc {
	margin: 0px;
	padding: 10px 5px;
	background:#fff;
	border-bottom: 1px solid #9dbedd;
	border-top: 1px solid #9dbedd;

}
.node2-mr {
	padding: 0px;
	margin: 0px;
	width: 14px;
	border-width: 0px;
	line-height: 1;
	border-right: 1px solid #9dbedd;
	border-bottom: 1px solid #9dbedd;
	border-top: 1px solid #9dbedd;
	background:#fff;

}

.teaser-node2-tl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: none;
}
.teaser-node2-tc {
	padding: 0px;
	margin: 0px;
	height: 12px;
	background: none;
}
.teaser-node2-tr {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: none;
}
.teaser-node2-ml {
	padding: 0px;
	margin: 0px;
	width: 12px;
	background: #fff;
	border-top:1px solid #9dbedd;
	border-bottom:1px solid #9dbedd;
	border-left:1px solid #9dbedd;
	
	
}
.teaser-node2-mc {
	padding: 5px;
	margin: 0px;
	background: #fff;
	border-top:1px solid #9dbedd;
	border-bottom:1px solid #9dbedd;
	}
.teaser-node2-mr {
	padding: 0px;
	margin: 0px;
	width: 12px;
	background: #fff;
	border-top:1px solid #9dbedd;
	border-bottom:1px solid #9dbedd;
	border-right:1px solid #9dbedd;
}

.teaser-node2-bl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 6px;
	background: url("images/bg-divider-l.png") no-repeat top right;
}
.teaser-node2-bc {
	padding: 0px;
	margin: 0px;
	height: 6px;
	background: url("images/bg-divider-c.png") repeat-x top left;
}
.teaser-node2-br {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 6px;
	background: url("images/bg-divider-r.png") no-repeat top left;
}

.sticky-node2-tl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: url("images/bg-node2-tl.png") no-repeat bottom right;
}
.sticky-node2-tc {
	padding: 0px;
	margin: 0px;
	height: 12px;
	background: url("images/bg-node2-tc.png") repeat-x bottom left;
}
.sticky-node2-tr {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: url("images/bg-node2-tr.png") no-repeat bottom left;
}
.sticky-node2-ml {
	padding: 0px;
	margin: 0px;
	width: 12px;
	background: url("images/bg-node2-ml.png") repeat-y top right;
}
.sticky-node2-mc {
	padding: 5px;
	margin: 0px;
	background: none;
}
.sticky-node2-mr {
	padding: 0px;
	margin: 0px;
	width: 12px;
	background: url("images/bg-node2-mr.png") repeat-y top left;
}

.sticky-node2-bl {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: url("images/bg-node2-bl.png") no-repeat top right;
}
.sticky-node2-bc {
	padding: 0px;
	margin: 0px;
	height: 12px;
	background: url("images/bg-node2-bc.png") repeat-x top left;
}
.sticky-node2-br {
	padding: 0px;
	margin: 0px;
	width: 14px;
	height: 12px;
	background: url("images/bg-node2-br.png") no-repeat top left;
}



.teaser-node2-mc div.links {
margin-bottom:0pt;
margin-top:10px;
text-align:right;
border-top:1px solid #739ecd;
}